In [3]:
import duckdb
# from google.colab import data_table
# data_table.enable_dataframe_formatter()

# A database '<pipeline_name>.duckdb' was created in working directory so just connect to it

# Connect to the DuckDB database
conn = duckdb.connect(f"../dlt_dlt_pipeline.duckdb")

# Set search path to the dataset
conn.sql(f"SET search_path = 'dlt_dlt_pipeline_dataset'")

# Describe the dataset
conn.sql("DESCRIBE").df()

,database,schema,name,column_names,column_types,temporary
0,dlt_dlt_pipeline,dlt_dlt_pipeline_dataset,_dlt_loads,"[load_id, schema_name, status, inserted_at, sc...","[VARCHAR, VARCHAR, BIGINT, TIMESTAMP WITH TIME...",False
1,dlt_dlt_pipeline,dlt_dlt_pipeline_dataset,_dlt_pipeline_state,"[version, engine_version, pipeline_name, state...","[BIGINT, BIGINT, VARCHAR, VARCHAR, TIMESTAMP W...",False
2,dlt_dlt_pipeline,dlt_dlt_pipeline_dataset,_dlt_version,"[version, engine_version, inserted_at, schema_...","[BIGINT, BIGINT, TIMESTAMP WITH TIME ZONE, VAR...",False
3,dlt_dlt_pipeline,dlt_dlt_pipeline_dataset,rides,"[end_lat, end_lon, fare_amt, passenger_count, ...","[DOUBLE, DOUBLE, DOUBLE, BIGINT, VARCHAR, DOUB...",False

In [4]:
conn.sql("SHOW ALL TABLES").df()

,database,schema,name,column_names,column_types,temporary
0,dlt_dlt_pipeline,dlt_dlt_pipeline_dataset,_dlt_loads,"[load_id, schema_name, status, inserted_at, sc...","[VARCHAR, VARCHAR, BIGINT, TIMESTAMP WITH TIME...",False
1,dlt_dlt_pipeline,dlt_dlt_pipeline_dataset,_dlt_pipeline_state,"[version, engine_version, pipeline_name, state...","[BIGINT, BIGINT, VARCHAR, VARCHAR, TIMESTAMP W...",False
2,dlt_dlt_pipeline,dlt_dlt_pipeline_dataset,_dlt_version,"[version, engine_version, inserted_at, schema_...","[BIGINT, BIGINT, TIMESTAMP WITH TIME ZONE, VAR...",False
3,dlt_dlt_pipeline,dlt_dlt_pipeline_dataset,rides,"[end_lat, end_lon, fare_amt, passenger_count, ...","[DOUBLE, DOUBLE, DOUBLE, BIGINT, VARCHAR, DOUB...",False

In [5]:
conn.sql("SELECT COUNT(*) FROM rides").df()

   count_star()
0         10000

In [6]:
conn.sql(
    """
    SELECT
    AVG(date_diff('minute', trip_pickup_date_time, trip_dropoff_date_time))
    FROM rides;
    """
)

┌─────────────────────────────────────────────────────────────────────────┐
│ avg(date_diff('minute', trip_pickup_date_time, trip_dropoff_date_time)) │
│                                 double                                  │
├─────────────────────────────────────────────────────────────────────────┤
│                                                                 12.3049 │
└─────────────────────────────────────────────────────────────────────────┘